@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


body{
    font-size: 18px;
    color: rgb(240, 252, 196);
    margin: 0 auto;

    background-image: url("anky.png");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'PT Serif', serif;
}

.hæð{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    max-width: auto;
    background: rgb(45, 52, 45);

}

.container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    max-width: auto;
    background: rgb(45, 52, 45);
}

.container2{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    background:rgba(170, 186, 111, 0.23)
}
.topnav{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;

}
 
.border{
    background: rgb(45, 52, 45);
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: rgb(240, 252, 196);
    padding: 10px;
}

ul{
    list-style-type: none;
}

/*
=================================
LINKS
=================================
*/

a:link{
    color: rgb(240, 252, 196);
    text-decoration: none;
}

a:visited{
    color: rgb(240, 252, 196)
}

a:hover{
    color: rgb(218, 185, 64);
    text-decoration: underline;
}

a:active{
    color:rgb(177, 197, 48)
}

/*
================================
MEDIA SCREEN
================================
*/

@media screen and (min-width: 37.5em){

    .topnav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        margin: 0 auto;
    }
    
    .videowrap{
        height: 20em;
        width: 25em;
    }

    .map{
        height: 250px;
        width: 250px;
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        max-width: auto;
        background: rgb(45, 52, 45);
    }

}

@media screen and (min-width: 48em){

    .videowrap{
        height: 1fr;
        width: 1fr;
    }

    .container{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        max-width: auto;
        background: rgb(45, 52, 45);
    }

}

@media screen and (min-width: 60em){

    .videowrap{
        width: 560px;
        height: 315px;
    }

    .map{
        width: 400px; 
        height: 300px; 
    }

    .border{
        background: rgb(45, 52, 45);
        border-right: 1px solid;
        border-left: 1px solid;
        border-top: 0px;
        border-bottom: 0px;
        border-color: rgb(240, 252, 196);
        padding: 10px;
    }

}